*{
    font-family: 'Krub', sans-serif;
}

body,html{
    background-color: #c1c4b1;
}

#backgroundVideo {
    visibility: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#wrapper{
    position: relative;
    width: 446px;
    margin: 0 auto;
    top: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius:15px;
}

#weatherContainer, #weatherInfo{
    position: relative;
    display: block;
}

#weatherInfo{
    margin: 0 auto;
    display: none;
    position: relative;
    background: rgba(0,0,0,0.5);
    width: 426px;
    height:410px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.4em;
    color: #FFF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 25px;
    cursor:default;
}

input[type="text"]{
    display:block;
    width:426px;
    font-size: 2.2em;
    text-align: center;
    background:rgba(0,0,0,0.6);
    border: none;
    border-radius: 15px;
    color: #FFF;
    padding: 10px;
    outline:none;
    font-weight: bold;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-transform:capitalize;
    cursor:default;
    letter-spacing: 4px;
}

input[type="text"]:hover{
    background:rgba(0,0,0,0.8);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(204, 204, 204);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(204, 204, 204);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(204, 204, 204);
}

h1{
    text-align: center;
    color: #6d6c62;
    font-weight: bold;
    font-size: 2.5em;
}